<h1> Edit Your Profile </h1>
<h4>You are logged in as: <%= current_user.name.upcase if current_user%></h4>

<%= form_for @user, url: edit_user_path do |f| %>

	<%= f.label :name %>
    <%= f.text_field :name %><br>
    <br>
    <%= f.label :email %>
    <%= f.email_field :email %><br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>
    <br>
    <%= f.submit "Save changes" %> <%= link_to "Cancel", users_path %>
    <% end %> 
