<h1><strong><%= link_to "Let's Start with a Genre", genres_path %></strong></h1>
<br>
<hr><% @users.each do |user| %></hr>
<hr><strong><%= user.name %></strong>
<br>
<br>
<%= link_to "Edit My Profile", edit_user_path(user)  %>
<br>
<%= link_to "Show My Profile", user_path(user) %>
<br>
<%= link_to "Delete My Profile", user_path(user), method: :delete, 
											data: { confirm: "Are you sure?" } %>
<% end %>
<br>

<%= link_to 'Log Out', logout_path, method: :delete %>




