<h1><strong><%= link_to "Welcome", genres_path %></strong></h1>
<h4>You are logged in as: <%= current_user.name.upcase if current_user%></h4>
<%= link_to 'Log Out', logout_path, method: :delete %>

<br>
<hr><% @users.each do |user| %></hr>
<hr><strong><%= user.name %></strong>
<br>
<br>
<% if (user == current_user) %>
<%= link_to "Edit My Profile", edit_user_path(user)  %>
<% end %>
<br>
<%= link_to "Show Profile", user_path(user) %>
<br>
<% if (user == current_user) %>
<%= link_to "Delete My Profile", user_path(user), method: :delete, 
											data: { confirm: "Are you sure?" } %>
											<% end %>
<% end %>
<br>





