<h1>Edit this novel!</h1>

<%= form_for genres_path do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :author %>
        <%= f.text_field :author %>
    </div>

    <div>
        <%= f.label :year_published %>
        <%= f.text_field :year_published %>
    </div>

   
    <%= f.submit "Submit these changes!" %>

<% end %>

<%= link_to "Back to the novels list!", genres_path %>
