<h1>Novel Information</h1>
  <% @novel.attributes.each do |title, author, year_published| %>
    
   
      <h3><%= @novel.title %></h3>
      <p><%= @novel.author %></p>
      <p><%= @novel.year_published %></p>

<% end %>

<%= link_to "See Film Adaptation", novel_film_path(@film) 

<h4>You are logged in as: <%= current_user.name.upcase if current_user%></h4>
<br>
<%= link_to 'Back', genres_path %>
<%= link_to 'Log Out', logout_path, method: :delete %>

